.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #353434;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #868686;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

.page-number {
  margin: 0 10px;
  font-size: 16px;
  color: #555;
}